:root {
    --main-text-color: #F388F7;
    --main-text-shadow: #E6D53C;
    --secondary-color: #EABB7A;
    --title-border-offset: 1px;
    --heading-border-offset: 0.7px;
    --win-color: #EFA2B9;
}